In [2]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
threshold = 30

# Select rows where any value > threshold
result = df[df.gt(threshold).any(axis=1)]
print(result)

   A   B
3  4  40
4  5  50

In [3]:
import pandas as pd

df = pd.DataFrame({'A': [2, 1, 2], 'B': [2, 3, 1], 'C': [1, 2, 3]})

# Sort by A then B
result = df.sort_values(by=['A', 'B'])
print(result)

   A  B  C
1  1  3  2
2  2  1  3
0  2  2  1

In [4]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

# Concatenate vertically (stack rows)
result = pd.concat([df1, df2], axis=0, ignore_index=True)
print(result)

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [5]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})

# Cumulative sum of column A
df['A_cumsum'] = df['A'].cumsum()
print(df)

   A  A_cumsum
0  1         1
1  2         3
2  3         6
3  4        10
4  5        15

In [6]:
import pandas as pd

series = pd.Series(['apple', 'banana', 'cherry'])

# Convert to uppercase
result = series.str.upper()
print(result)

0     APPLE
1    BANANA
2    CHERRY
dtype: object